{% layout 'layout.liquid' %}
{% block content %}
  <div class="card mb-4 shadow">
    <div class="card-body">
      <p>{{ comment.note }}
      </p>
      <div class="d-flex justify-content-between">
        <small>author:
          {{ comment.author.username }}
        </small>
        {% if comment.author == userId %}
          <a href="/comments/edit/{{character.id}}/{{comment.id}}" class="btn btn-dark">Edit Comment</a>
          <form action="/comments/delete/{{character.id}}/{{comment.id}}?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete Comment">
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}}}}}}}}