{% layout 'layout.liquid' %}
{% block content %}

  <div class="container-sm">
    <form action="/characters/{{character.id}}?_method=PUT" method="POST">
      <fieldset>
        <legend>Edit
          {{character.name}}
        </legend>
        <label class="form-label">Name:
        </label>
        <input class="form-control" type="text" name="name" placeholder="enter the name of the RickandMorts character" value="{{ character.name }}">
        <label class="form-label">Status:
        </label>
        <input class="form-control" type="text" name="status" placeholder="what status of the character?" value="{{ character.status }}">
        <label class="form-label">Species:
        </label>
        <input class="form-control" type="text" name="species" placeholder="what is the species of the character?" value="{{ character.species }}">
        <label class="form-label">Gender:
        </label>
        <input class="form-control" type="text" name="gender" placeholder="what gender of the character?" value="{{ character.gender }}">
        <label class="form-label">Origin:
        </label>
        <input class="form-control" type="text" name="origin" placeholder="where does the character originate from?" value="{{ character.origin }}">
        <label class="form-label">Location:
        </label>
        <input class="form-control" type="text" name="location" placeholder="the location of this character?" value="{{ character.location }}">

      </fieldset>
      <input class="btn btn-success" type="submit" value="Edit {{character.name}}">
    </form>
  </div>

{% endblock %}}}}}}