{% layout 'layout.liquid'%}
{% block content %}
  {% if characters.length > 0%}
    <div>
      <h2 class="display-6">All RickandMort Characters</h2>
      <div class="row g-0">
        {% for character in characters %}
          <div class="card" style="width: 20rem;">
            <h5 class="card-header">{{ character.name }}
            </h5>
            <div class="card-body">
              <h5 class="card-title">
                <img src="{{ character.image}}" style="width: ;14rem">
                {{ character.status }}
                -
                {{ character.species}}
              </h5>
              <p class="card-text">
                Last known location:
                {{ character.location }}
              </p>
              <p class="card-text">
                Originally from:
                {{ character.origin }}
              </p>
              <a href="/characters/{{ character.id }}" class="btn btn-info">
                <p class="card-text">
                  <small class="text-muted">View
                    {{ character.name }}
                  </small>
                </p>


              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div>
      <h2 class="display-6">No RickandMort characters yet... time to add some!</h2>
    </div>
  {% endif %}
{% endblock %}}}}}}}}}
