{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/characters" method="POST">
      <fieldset>
        <legend>Create New RickandMorts Characters</legend>
        <label class="form-label">Name:
        </label>
        <input class="form-control" type="text" name="name" placeholder="enter the name of the RickandMorts character" value="{{ character.name }}">
        <label class="form-label">Status:
        </label>
        <input class="form-control" type="text" name="status" placeholder="what status of the character?" value="{{ character.status }}">
        <label class="form-label">Species:
        </label>
        <input class="form-control" type="text" name="species" placeholder="what is the species of the character?" value="{{ character.species }}">
        <label class="form-label">Gender:
        </label>
        <input class="form-control" type="text" name="gender" placeholder="what gender of the character?" value="{{ character.gender }}">
        <label class="form-label">Origin:
        </label>
        <input class="form-control" type="text" name="origin" placeholder="where does the character originate from?" value="{{ character.origin }}">
        <label class="form-label">Location:
        </label>
        <input class="form-control" type="text" name="location" placeholder="the location of this character?" value="{{ character.location }}">
        <label class="form-label">Image:
        </label>
         <input class="form-control" type="text" name="image" placeholder="url for desired image" value="{{ character.image }}">
        <a class="nav-link" href="https://www.freeimages.com/">Free Images For New RickandMorts</a>

        {%- comment -%} <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02" value="{{ character.image }}">
          <label class="input-group-text" for="inputGroupFile02">Upload</label> {%- endcomment -%}
        </div>
      </fieldset>
      <input type="submit" value="Add New Character" class="btn btn-light">
    </form>
  </div>
{% endblock %}}}}}}}}}}}}}}}}}}}}}}}}}}