{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h2>
        {{ character.name }}
      </h2>
      <div class="img1">
        <img src="{{ character.image}}">
      </div>
      <div class="header">
      <h3>
        {% if character.status == "Alive" %}
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-success" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"/>
            </svg>
          </span>
        {% else %}
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill text-danger" viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"/>
            </svg>
          </span>
        {% endif %}

        {{ character.status }}
        -
        {{ character.species}}
      </h3>
      </div>
      <h6>Last known location:
        {{ character.location }}
      </h6>
      <h6>Originally from:
        {{ character.origin }}
      </h6>
      {% if character.owner == userId %}
        <div class="btn-group">

          <a href="/characters/edit/{{ character.id }}" class="btn btn-primary">Edit</a>
          <form action="/characters/{{ character.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </div>
      {% endif %}
    </article>
    <hr>
    <h4>Comments</h4>
    <hr>
    {% if loggedIn %}
      <div class="col-md-6">
        <form action="/comments/{{character.id}}" method="POST">
          <fieldset>
            <legend>Add Comment</legend>
            <label class="form-label">Comment:</label>
            <input class="form-control mb-1" type="text" placeholder="enter your comment..." name="note" required>
          </fieldset>
          <input class="btn btn-success" type="submit" value="add comment">
        </form>
      </div>
    {% else %}
      <div class="col-md-6">
        <small>If you'd like to leave a comment, please log in...</small>
      </div>
    {% endif %}
    <hr>
    {% if character.comments.length > 0%}
      <div class="container-sm justify-content-center">
        <div class="col-md-8 col-lg-6">
          {% for comment in character.comments %}
            {% render '../auth/comment.liquid', comment: comment, userId: userId, character: character %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <small>no comments yet...</small>
    {% endif %}
  </div>
  </article>
  </div>
{% endblock %}
